version: '2'

volumes:
    logs:
        driver: local

services:
    slim:
      image: php:5.6-alpine
      container_name: record-php
      working_dir: /var/www
      command: php -S 0.0.0.0:8080 -t public
      environment:
          docker: "true"
      ports:
          - 8080:8080
      volumes:
          - .:/var/www
          - logs:/var/www/logs

    mysql:
      image: mysql:5.6
      container_name: record-mysql
      working_dir: /var/www
      volumes:
        - .:/var/www
        - ./db.sql:/docker-entrypoint-initdb.d/db.sql
      environment:
        - MYSQL_ROOT_PASSWORD=root
        - MYSQL_DATABASE=record18
        - MYSQL_USER=record18
        - MYSQL_PASSWORD=record18
      ports:
        - "8082:3306"

    phpmyadmin:
      image: phpmyadmin/phpmyadmin
      container_name: phpmyadmin
      environment:
        - PMA_HOST=mysql
        - PMA_USER=root
        - PMA_PASSWORD=root
      ports:
       - 8081:80
      depends_on:
       - mysql
